Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Babel==4.0.0
Flask-Login==0.6.3
Flask-Limiter==3.5.0
Flask-APScheduler==1.13.1
Flask-Compress==1.14
Flask-WTF==1.2.1
SQLAlchemy==2.0.25
WTForms==3.1.2
python-dotenv==1.0.1
Sentry-sdk[flask]==1.40.1
requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2
Flask-Caching==2.3.1
cachelib==0.13.0
Pillow>=10.0.0
flask-admin>=1.6.0
redis>=5.0.0
gunicorn==21.2.0
